<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Reviews{% endblock %}

{% block content %}
<div class="container mt-5 col-sm-6">
    {% for review in object_list %}
    <div class="one-review">
        
            
                <div>
                <img width="100%" src="{{ review.product.thumb.url }}">
                </div>
                <div class="post-content">
                    <a href="{{ review.slug }}"><h4>{{ review.title }}</h4></a>
                    <p>Written by {{ review.author }} {{ review.date|date:"M d, Y" }} <a href="{{ review.slug }}">{{ review.product.name }}</a></p>
                    <p>{{ review.body|truncatechars:200 }}</p>
                    <a href="{{ review.slug }}"><button class="btn btn-success">Continue reading</button></a>    
                </div>
           
        
     </div>
    {% endfor %}
</div>





{% endblock %}
