<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Home</h1>

<h3>Categories</h3>
<p>Choose category to start browsing products and services</p>
<ul>
    {% for category in categories %}
    <li>{{ category.name }}</li>
    <ul>{% for obj in subcategories %}
        {% if obj.category.name == category.name %}
        <li>{{ obj.subcategory.name }}</li>
        {% endif %}
        {% empty %}
        <li>no item</li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>


<h3>Latest Reviews</h3>
<p>Our authors have released some new reviews</p>
{% for r in reviews %}
<a href="blog/{{r.slug}}"><img src="{{r.product.thumb.url}}" height="100px">{{ r.title }}</a>
{% endfor %}

<h3>Most Reviewed</h3>
<p>Most Reviewed by users</p>
{% for r in reviews_by_views %}
<a href="blog/{{r.slug}}"><img src="{{r.product.thumb.url}}" height="100px">{{ r.title }}</a>
{% endfor %}

<h3>Author's Picks</h3>
<p>These products and services are top rated by our authors</p>
{% for r in reviews_by_rating %}
<a href="blog/{{r.slug}}"><img src="{{r.product.thumb.url}}" height="100px">{{ r.title }}</a>
{% endfor %}

{% endblock %}
