<!-- templates/home.html -->
{% extends 'base.html' %}
{% load ratings %}
{% block title %}Home{% endblock %}

{% block content %}



<div class="container mt-5">
<div class="row category-list">
<form method="post" style="width:100%;" action="{% url "search" %}">
 {% csrf_token %}
<div class="col-md-4 search-box">
        <label>Filter by Keyword</label>
        <input class="form-control myinput" type="text" placeholder="Type term and hit enter" name="keyword"/>
</div>
<div class="col-md-4 search-box">
        <label>Filter by Category</label>
        <select class="form-control" name="selected_category">
            <option value="all">All Categories</option>
            {% for c in categories %}
            <option value="{{ c.name }}">{{ c.name }}</option>
            {% endfor %}
        </select>
</div> 
<div class="col-md-3 search-box">
        <label>Sort Reviews</label>
        <select class="form-control " name="sortby">
            <option value="-date">Latest</option>
            <option value="date">Oldest</option>
            <option value="-rating">Top Rated by Author</option>
            <option value="-date">Top Rated by User</option>
            <option value="-views">Most Viewed</option>
        </select>
    
</div>  
<div class="col-md-1 search-box">
        <label>Search</label><br>
        <input class="btn btn-success" type="submit" value="Search">
    </div>
</form> 
</div>
</div>



<div class="container mt-5">
                <div class="row category-list">
{% for r in reviews %}
<div class="col-md-4">
                <div class="card review-card">
                    <img src="{{r.product.thumb.url}}" style="min-height: 194px;" class="card-img-top review-card__img-thumbnail" alt="{{ r.title }}">
                    
                    <div class="card-body">
                            
                        <span>Author rate</span><br><span class="review-card__stars-user">{% ratings r %}</span>
                        <a href="#" title="{{ r.title }}" class="leading-category">
                            <h5 class="">{{ r.title|title }}</h5>
                        </a>
                        <p class="text-justify">{{ r.body|truncatechars:100 }}</p>
                        <span><img class="review-card__author-img" height="30px" width="30px" src="/media/sally-doe-25x25.jpg">&nbsp;&nbsp;By {{r.author.username }}</span><span class="pull-right">{{r.product.subcategory.name}}</span>
                    </div>
                </div>
            </div>
{% endfor %}
</div>
</div>


{% endblock %}
