<!-- templates/home.html -->
{% extends 'base.html' %}
{% load ratings %}
{% block title %}Home{% endblock %}

{% block content %}



<div class="container col-sm-10 search-form">
<form method="post" action="{% url "search" %}">
 {% csrf_token %}
<div class="col-sm-3 search-box">
        <label>Filter by Keyword</label>
        <input class="form-control myinput" type="text" placeholder="Type term and hit enter" name="keyword"/>
</div>
<div class="col-sm-3 search-box">
        <label>Filter by Category</label>
        <select class="form-control" name="selected_category">
            <option value="all">All Categories</option>
            {% for c in categories %}
            <option value="{{ c.name }}">{{ c.name }}</option>
            {% endfor %}
        </select>
</div> 
<div class="col-sm-3 search-box">
        <label>Sort Reviews</label>
        <select class="form-control " name="sortby">
            <option value="-date">Latest</option>
            <option value="date">Oldest</option>
            <option value="-rating">Top Rated by Author</option>
            <option value="-date">Top Rated by User</option>
            <option value="-views">Most Viewed</option>
        </select>
    
</div>  
<div class="col-sm-3 search-box">
        <label>Search</label><br>
        <input class="btn btn-success" type="submit" value="Search">
    </div>
</form> 
</div>


<div class="col-sm-8">

<h3>Latest Reviews</h3>
<p>Our authors have released some new reviews</p>
{% for r in reviews %}
<a href="/blog/{{r.slug}}"><img src="{{r.product.thumb.url}}" height="100px">{{ r.title }}<p>{% ratings r %}</p></a>
{% endfor %}

</div>

{% endblock %}
