<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container col-sm-6">
    <h2 class="heading">Registration</h2>
    <form role="form" class="form-horizontal" method="post">{% csrf_token %}
        <div class="form-group">
            <div class="form-group">
                <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
                <label>Username</label>
                <input class="form-control myinput" id="{{ form.id_for_label }}" maxlength="30" name="username"  type="text" /> 
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
                <label>Password</label>
                <input class="form-control myinput" id="{{ form.id_for_label }}" maxlength="30" name="password1"  type="password" /> 
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                <span class="input-group-addon" style="background-color:#b77b48; color:white"><span class="glyphicon glyphicon-user"></span></span>
                <label>Confirm password</label>
                <input class="form-control myinput" id="{{ form.id_for_label }}" maxlength="30" name="password2"  type="password" /> 
                {{ form.password2.errors }}
            </div>
            
            <input type="submit" class="btn btn-success" value="Register" />
            
        </div>
    </form>
  
</div>
  
{% endblock %}