// -----------------------------------------------------------------------------
// This file contains all styles related to the input form component.
// -----------------------------------------------------------------------------
// .search-form-container {
//   margin-top: 5rem !important;
// }

.form-control--white-border {
  //   border-color: $white;
  background-color: transparent;
  border: 3px solid #fff !important;
  display: block;
  padding-bottom: 4px;
  padding-top: 4px;
  min-width: 100%;

  &:focus {
    background-color: transparent;
  }
}

.form-group__search {
  flex: 1 0 auto;
}
