// ---------------------------------------------------------------------------------
// This file contains all styles related to the login navbar-main of the site/application.
// ---------------------------------------------------------------------------------

.navbar {
  &--main {
    background-color: $brand-color !important;
    font-size: $font-size-sm;
    height: 84px;
    margin-top: 53px;

    a {
      color: $white !important;
      font-weight: $font-weight-bold;
    }

    ul.dropdown-menu li a {
      font-size: $font-size-sm;
      color: $text-color !important;
    }

    .dropdown-toggle::after {
      display: none;
    }
  }
}
